.modal img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: #2E2F42;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    justify-content: center;
}